



































/* Estilos del desplegable en el header */

header {
    background-color: #33333344;
    backdrop-filter: blur(8px);
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
    animation-name: header-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

img {
    background-color: transparent;
    color: transparent;
}

img:hover {
    transform: scale(1.2);
}


.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    z-index: 1;
    top: 88px;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #55555587;


}

.logo {
    width: fit-content;
    background-color: transparent;
    height: fit-content;
    margin-left: 180px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.login-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;

}

.login-link a:hover {
    color: var(--color-3);
}

#sign {
    margin-left: 16px;
}