/* Paleta de colores para la pagina Web */
:root{
    --color-1: #2535324b;
    --color-2: #517f83;
    --color-3: #9e8d77;
    --color-4: #583d34;
    --color-5: #1f1b17;
    --color-6: rgba(47, 50, 56, 0.37);
    --color-7: #b0b0b0;
    --color-8: #2b6684;
    --color-9: #2e424b68;
    --color-10: #0a1417;
    --color-nada: transparent;
}

html{
    background-color: var(--color-10);
}

body{
    margin: 0%;
    padding: 0%;
    background-image: url(Galeria/fondo.mp4);
    background-size: cover;
}

h3 { font-family: "Holtwood One SC";
    font-size: 24px; font-style: normal; 
    font-variant: normal; font-weight: 700;
    line-height: 76.4px; 
    color: #FAFAFA;
    font-size: 80px;
    margin: 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


#span{
    color: rgb(255, 255, 255);
    width: 50px;
    font-size: 90px;
}

/* Estilos del desplegable en el header */

header {
    background: rgb(0, 46, 6);
    background: radial-gradient(circle, rgba(0, 46, 6, 0.237) 0%, rgba(24, 33, 11, 0.312) 61%, rgba(0, 0, 0, 0.334) 100%);
    backdrop-filter: blur(4px);
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
    animation-name: header-animation;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    margin-top: 0px;
    position: sticky;
    width: 98.7%;
    top: 0%;
    margin-bottom: 0%;
}

img{
    background-color: transparent;
    color: transparent;
}

img:hover{
    transform: scale(1.2);
}


.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    z-index: 1;
    top: 88px;
}

.dropdown-menu a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #55555587;
    
    
}

.logo{
    width: fit-content;
    background-color: transparent;
    height: fit-content;
    margin-left: 180px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.login-link a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px 16px;
    margin-right: 15px;
    
}

.login-link a:hover {
    color: var(--color-3);
}

#sign{
    margin-left: 16px;
}

/* Contenedores, titulos, barra de busqueda que se muestra en la pagina */

.container {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    object-fit: cover;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    background-color: black;
    filter: brightness(50%);

}    

.text{
    z-index: 1;
    background-color: rgba(137, 43, 226, 0);
    width: 770px;
    font-size: 100px;
    height: 300px;
    top: 20px;
    animation-name: text-animation;
    animation-duration: 2s; 
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    position: relative;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--color-nada);
    border: 0px solid rgb(0, 0, 0);
    border-radius: 15px;
    width: 470px;
    margin-left: 150px;
    top: 0px;
    animation-name: search-animation;
    animation-duration: 7s; 
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    position: relative;
}
.search-bard{
    background-color:var(--color-nada);
    width: fit-content;
    position: relative;
    bottom: 80%;
    display: flex;
    right: 150px;
}

.main{
    background-color: var(--color-nada);
    width: 1000px;
    justify-content: center;
    align-items: center;
    display: grid;
    height: 45cqmax;
}

#searchInput {
    padding: 8px;
    border: none;
    border-radius: 0px 0 0 0px;
    text-decoration: none;
    border: 0px solid red;
    width: 400px;
}

#searchInput::placeholder{
    border: 0px solid red;
}

#searchInput:focus {
    border-color: 2px solid #4CAF50;
}

#lupa {
    width: 40px;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    position: absolute;
    bottom: -19px;
    right: 14px;
    z-index: 16;
}

input {
    background-color:var(--color-1);
    color: var(--color-7);
    width: 700px;
    height: 35px;
    border-radius: 15px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    z-index: 10;
}

input::target-text {
    padding-left: 50px;
}


button{
    background-color: transparent;
    border-style: none;
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
    top: 0px;
    right: 0%;
    cursor: pointer;
}

img:hover{
    transform: scale(1.2);
}



/* footer */

footer {
    background-color: rgb(221, 61, 61);
    position: absolute;
    bottom: -200px;
    width: 99%;
    padding-top: 20px;
}

footer *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-transform: capitalize;
}

.container-footer {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-nada);
    
}

.footer {
    background-color: var(--color-10);
    padding: 0px 0;    

}

.footer-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-nada);
}

.footer-links{
    background-color: var(--color-nada);
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-list{
    background-color: var(--color-nada);
    width: fit-content;
}

.list-link{
    display: list-item;
    justify-content: center;
}

#footer-link-container-1,
#footer-link-container-2,
#footer-link-container-3,
#footer-link-container-4{
    background-color: var(--color-nada);
    padding-right:10px ;
    width: 200px;
}

#margin-for-1rcolum{
    margin-left: 10px;
    background-color: var(--color-nada);
    width: 200px;
}

.social-link {
    display:list-item;
    background-color:var(--color-nada);
    width: 100px;
    background-color: var(--color-nada);
} 

#icon-tiktok,
#icon-instagram,
#icon-linkedin,
#icon-github {
    padding-bottom: 10px;
    background-color: var(--color-nada);
}

.space-footer-style-column-1,
.space-footer-style-column-2,
.space-footer-style-column-3{
    background-color: var(--color-nada);
    text-decoration: none;
    padding-bottom: 7px;
    padding-left: 10px;
}

.space-footer-style-column-1 a,
.space-footer-style-column-2 a,
.space-footer-style-column-3 a{
    text-decoration: none;
    color: var(--color-7);
}

.link-icons{
    font-style: none;
    text-decoration: none;
    color: var(--color-7);
}

h4{
    color: white;
    padding-bottom: 15px;
    font-size: 18px;
}

/* Animacion del header */

@keyframes header-animation {
    0%{
        transform: translateY(-100%);
    }

    100%{ transform: translateY(0%)}
}


@-moz-keyframes header-animation{
    0%{
        transform: translateY(-100%);
    }

    100%{ transform: translateY(0%)}
}

@-o-keyframes header-animation {0%{
    transform: translateY(-100%);
}

100%{ transform: translateY(0%)}}

@-ms-keyframes header-animation {0%{
    transform: translateY(-100%);
}

100%{ transform: translateY(0%)}}



/* Animacion del titulo (texto) */

@keyframes text-animation {
    0%{
        transform: translateX(-100%);
    }

    100%{ transform: translateX(0%)}
}


@-moz-keyframes text-animation {
    0%{
        transform: translateX(-100%);
    }

    100%{ transform: translateX(0%)}
}

@-o-keyframes  text-animation {
    0%{
        transform: translateX(-100%);
    }

    100%{ transform: translateX(0%)}
}

@-ms-keyframes  text-animation {
    0%{
        transform: translateX(-100%);
    }

    100%{ transform: translateX(0%)}
}



/* Animacion de la barra de busqueda */

@keyframes search-animation {
    0%{
        transform: translateX(-1000%);
    }

    100%{ transform: translateX(0%)}
}

@-moz-keyframes search-animation {
    0%{
        transform: translateX(-1000%);
    }

    100%{ transform: translateX(0%)}
}

@-o-keyframes search-animation {
    0%{
        transform: translateX(-1000%);
    }

    100%{ transform: translateX(0%)}
}

@-ms-keyframes search-animation {
    0%{
        transform: translateX(-1000%);
    }

    100%{ transform: translateX(0%)}
}